.editor {
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  padding: 0.5em;
  background: #f8f8f8;
  max-height: 80%;
  overflow: auto;
  position: relative;
}

.marking {
  border-bottom: 2px solid;
}

.editor {
  .misspelling {
    .marking();
    border-bottom-color: #faa;
    //&::selection {
    //  background: #faa;
    //}
  }

  .typographical,
  .grammar,
  .whitespace {
    .marking();
    border-bottom-color: #afa;
    //&::selection {
    //  background: #afa;
    //}
  }
}

