.editor {
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  padding: 0.5em;
  background: #f8f8f8;
}

.editor {
  .marking {
    border-bottom: 2px solid #faa;
    &:hover {
      background: #faa;
    }
  }
  .marking.grammar,
  .marking.whitespace {
    border-bottom-color: #afa;
    &:hover {
      background: #afa;
    }
  }
}

