@editorHeight: 500px;

h1 {
  color: orange;
  font-size: 10px;
  margin: 0;
  padding: 0;
}


button {
  background-color: #aaaaff;
  border: 1px solid silver;
  border-radius: 6px;
  padding: 0.5em;
  &:hover {
    background-color: #8888ff;
    cursor: pointer;
  }
}

.editorCol,
.sidebarCol {
  height: @editorHeight;
  overflow: hidden;
  width: 50%;
  float: left;
}

.editorCol {
  width: 60%;
}

.sidebarCol {
  width: 40%;
}

.checkButton {
  margin-bottom: 1em;
}