.sidebar {
  border: 1px solid silver;
  overflow: auto;
  padding: 1em;
}

.surface {
  color: red;
}

.replacement {
  color: green;
}

.arrow {
  color: #888;
  margin-left: 0.5em;
  margin-right: 0.5em;
}